* { 
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
} 

body {
    background-color: #1e2c37;
    font-family: 'Open Sans', sans-serif;
}

button, input {
    outline: none;
    border: none;
    cursor: pointer;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
    color: #fff;
    padding-top: 15px;
    font-size: 15px;
}

@media (min-width: 768px) {
    .wrapper {
        font-size: 30px;
        padding-top: 30px;
        max-width: 1200px;  
    }
}

i {
    color: #5e7ca8;
}

.search {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.search-bar {
    background-color: transparent;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 12px;
    width: 80%;
}

.search-bar:hover {
    border: 1px solid #5e7ca8;
}

.search-button {
    color: #557F94;
    background-color: transparent;
    height: 1.5em; 
    width: 1.5em
}

.search-button:hover {
    transform: scale(1.2);
}

.card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.weather-descripton {
    max-width: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid none;
    border-radius: 30px;
    background-color: #363361;
    text-align: center;
}

@media (min-width: 768px) {
    .weather-descripton {
        max-width: 300px;
    }
}

.weather-characteristics {
    padding-top: 35px;
}

@media (min-width: 768px) {
    .weather-characteristics {
        padding-top: 70px;
    }
}

.wind, .pressure, .humidity {
    display: flex;
    align-items: center;
}

span {
    padding-left: 15px;
}

.temp {
    font-size: 130px;
    font-weight: 100;
}

.sun-state {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sun-state-illustration {
    width: 413px;
    height: 1px;
    background: linear-gradient(0.25deg, #ff659f, #ffe5ac);
}

.sun-state h2 {
    font-weight: 100;
}

.sunrise, .sunset {
    display: flex;
    align-items: center;
}

.sunrise-sun {
    width: 30px;
    height: 30px;
    background: linear-gradient(#f6a77f, #ff659f);
    box-shadow: 0px 0px 5px #ff659f;
    border: 1px solid none;
    border-radius: 50%;
    margin-right: 10px;
}

.sunset-sun {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #ffe5ac;
    box-shadow: 0px 0px 5px #ffe5ac;
    border: 1px solid none;
    border-radius: 50%;
    margin-right: 10px;
}

.sunset-time-value, .sunrise-time-value {
    font-size: 30px;
}

.hourly-forecast-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hourly-forecast-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.today-forecast-title {
    font-weight: 100;
    font-size: 30px;
    padding-bottom: 30px;
    color: #596c7b;
}

.hourly-forecast-cards-time, .hourly-forecast-cards-temp {
    font-weight: 100;
    font-size: 20px;
}

.today-forecast-container {
    width: 100%;
}

.daily-forecast-container {
    width: 100%;
}

.daily-forecast-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.temp-container {
    display: flex;
}

.min-temp {
    margin-left: 30px;
    color: #37576f;
}

.daily-forecast-cards-week {
    width: 100%;
    max-width: 150px;
}