* { 
    margin: 0;
    padding: 0;
} 

body {
    background-color: #1e2c37;
    font-family: 'Open Sans', sans-serif;
}

button, input {
    outline: none;
    border: none;
    cursor: pointer;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    color: #fff;
    padding-top: 30px;
}

i {
    color: #5e7ca8;
}

.search {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.search-bar {
    background-color: transparent;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 12px;
    width: 80%;
}

.search-bar:hover {
    border: 1px solid #5e7ca8;
}

.search-button {
    color: #557F94;
    background-color: transparent;
    height: 1.5em; 
    width: 1.5em
}

.search-button:hover {
    transform: scale(1.2);
}

.card {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.weather {
    font-size: 30px;
}

.weather-descripton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border: 1px solid none;
    border-radius: 30px;
    background-color: #363361;
    text-align: center;
}

.weather-characteristics {
    padding-top: 70px;
}

.wind {
    display: flex;
    align-items: center;
}

.humidity {
    display: flex;
    align-items: center;
}

.pressure {
    display: flex;
    align-items: center;
}

span {
    padding-left: 15px;
}

.temp {
    font-size: 130px;
    font-weight: 100;
}

.sun-state h2 {
    font-weight: 100;
}

.sunrise, .sunset {
    display: flex;
    align-items: center;
}

.sunrise-sun {
    width: 20px;
    height: 20px;
    background: linear-gradient(#f6a77f, #ff659f);
    box-shadow: 0px 0px 5px #ff659f;
    border: 1px solid none;
    border-radius: 50%;
}

.sunset-sun {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #ffe5ac;
    box-shadow: 0px 0px 5px #ffe5ac;
    border: 1px solid none;
    border-radius: 50%;
}