* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 60px;
}

.nav {
  margin-bottom: 20px;
}

.icon {
  width: 6em;
}

body {
  background-color: #081b25;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  display: none;
}

.nav-link {
  color: #5e7ca8;
  margin: 30px 40px 0px 40px;
  cursor: pointer;
  width: 1.6em;
  height: 1.6em;
}

.nav-link:hover {
  transform: scale(1.2);
}

.active-page {
  color: #cb629b;
}

nav {
  display: flex;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

.wrapper {
  max-width: 700px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  color: #fff;
  padding-top: 50px;
  font-size: 15px;
}

i {
  color: #5e7ca8;
}

.search {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.search-result {
  width: 170px;
  position: absolute;
  padding: 0 16px;
  top: 50px;
  left: 16px;
  background-color: rgba(22, 43, 57);
  border-radius: 20px;
  z-index: 2;
}

.search-result div {
  padding-top: 8px;
  cursor: pointer;
}

.search-bar {
  background-color: transparent;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 12px;
  width: 80%;
}

.search-bar:hover {
  border: 1px solid #5e7ca8;
}

.search-icon {
  color: #557F94;
  background-color: transparent;
  height: 0.7em;
  width: 0.7em;
}

.card {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.weather {
  width: 40%;
}

.card-weather-container {
  display: flex;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.weather-descripton {
  max-width: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid none;
  border-radius: 30px;
  background-color: #363361;
  text-align: center;
}

.weather-characteristics {
  padding-top: 35px;
  display: flex;
  padding-bottom: 43px;
}

.wind,
.pressure,
.humidity {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 10px;
}

span {
  padding-left: 10px;
}

.temp {
  font-size: 100px;
}

.sun-state {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.sun-state-illustration {
  display: none;
  width: 413px;
  height: 1px;
  background: linear-gradient(0.25deg, #ff659f, #ffe5ac);
}

.sun-state h2 {
  font-weight: 100;
}

.sunrise,
.sunset {
  display: flex;
  align-items: center;
}

.sunrise-sun {
  width: 30px;
  height: 30px;
  background: linear-gradient(#f6a77f, #ff659f);
  box-shadow: 0px 0px 5px #ff659f;
  border: 1px solid none;
  border-radius: 50%;
  margin-right: 10px;
}

.sunset-sun {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffe5ac;
  box-shadow: 0px 0px 5px #ffe5ac;
  border: 1px solid none;
  border-radius: 50%;
  margin-right: 10px;
}

.sunset-time-value,
.sunrise-time-value {
  font-size: 20px;
  font-weight: 100;
}

.hourly-forecast-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hourly-forecast-cards-time {
  width: 2.5em;
  height: 2.5em;
}

.hourly-forecast-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.today-forecast-title {
  font-weight: 100;
  font-size: 30px;
  padding-bottom: 30px;
  color: #596c7b;
}

.hourly-forecast-cards-time,
.hourly-forecast-cards-temp {
  font-weight: 100;
  font-size: 15px;
}

.today-forecast-container {
  width: 100%;
}

.daily-forecast-container {
  width: 100%;
}

.daily-forecast-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.temp-container {
  display: flex;
  width: 16%;
  justify-content: space-around;
}

.min-temp {
  margin-left: 30px;
  color: #37576f;
}

.daily-forecast-cards-week {
  width: 100%;
  max-width: 60px;
}

.daily-forecast-cards-icon {
  width: 3em;
  height: 3em;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.cities-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  column-gap: 30px;
  row-gap: 55px;
  padding-bottom: 10px;
}

.cities-card {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: center;
  font-size: 10px;
  font-weight: 200;
  background-color:rgba(22, 43, 57, 0.5);
  padding: 10px;
  border: 1px solid none;
  border-radius: 20px;
  width: 100%;
  max-width: 120px;
  height: 120px;
  cursor: pointer;
}

.addictional-container {
  margin-top: 10px;
}

.cities-card:hover {
  transform: scale(1.1);
}

.cities-card-country {
  color: #5e7ca8;
  font-size: 10px;
}

.cities-card-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cities-card-content {
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cities-card-icon {
  width: 20%;
}

.remove-button {
  visibility: hidden;
  display: flex;
  cursor: pointer;
  color: #f0519f;
  background-color: transparent;
}

.hidden {
  visibility: hidden;
}

@media (min-width: 768px) {
  .wrapper {
    width: 100%;
    font-size: 30px;
    max-width: 1200px;
    padding: 60px 70px 0px 70px;
  }

  .wind,
  .pressure,
  .humidity {
    font-size: 17px;
  }

  .card {
    padding-top: 0px;
  }

  .hourly-forecast-cards-time,
  .hourly-forecast-cards-temp {
    font-size: 20px;
  }

  .hourly-forecast-cards-time {
    width: 4em;
    height: 4em;
  }

  main {
    flex-direction: column;
  }

  .search-result {
    font-size: 20px;
    width: 300px;
  }

  .weather {
    width: 27%;
  }

  .weather-descripton {
    max-width: 300px;
  }

  .temp {
    font-size: 130px;
  }

  .weather-characteristics {
    padding-top: 70px;
  }

  .cities-cards{
    width: 93%;
    column-gap: 26px;
    padding-bottom: 50px;
  }

  .cities-card {
    font-size: 20px;
    padding: 20px;
    max-width: 220px;
    height: 220px;
  }

  .cities-card-country {
    color: #5e7ca8;
    font-size: 15px;
  }

  .addictional-container {
    margin-top: 30px;
  }

  .daily-forecast-cards-icon {
    width: 2.5em;
    height: 2.5em;
  }

  .sunset-time-value,
  .sunrise-time-value {
    font-size: 30px;
  }

  .daily-forecast-cards-week {
    width: 20%;
  }
}

@media (min-width: 1020px) {
  .cities-cards{
    width: 85%;
    column-gap: 50px;
  }
}

@media (min-width: 588px) and (max-width: 767px) {
  .cities-card {
    font-size: 20px;
    padding: 20px;
    max-width: 220px;
    height: 220px;
  }
}
